# SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [47]:
import sqlite3

In [48]:
# Connect to SQLite database
conn = sqlite3.connect('example.db')
cur = conn.cursor()

In [49]:
# Create a sample table
cur.execute('''CREATE TABLE IF NOT EXISTS users
               (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

In [50]:
# Insert sample data
cur.execute("INSERT INTO users (name, age) VALUES ('Vaibhav', 21)")
cur.execute("INSERT INTO users (name, age) VALUES ('Prashiv', 22)")
cur.execute("INSERT INTO users (name, age) VALUES ('Saksham', 19)")
cur.execute("INSERT INTO users (name, age) VALUES ('Purab', 20)")
conn.commit()
print("Data is Inserted!")

Data is Inserted!

In [51]:
# Query the data
cur.execute("SELECT * FROM users")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Vaibhav', 21)
(2, 'Prashiv', 22)
(3, 'Saksham', 19)
(4, 'Purab', 20)

In [52]:
# Update the data in the table
cur.execute('''UPDATE users 
                SET age = 20 
                WHERE name = "Saksham"
            ''')
conn.commit()
print("Data is Updated!")

Data is Updated!

In [53]:
# Query the data
cur.execute("SELECT * FROM users")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Vaibhav', 21)
(2, 'Prashiv', 22)
(3, 'Saksham', 20)
(4, 'Purab', 20)

In [54]:
# Delete the data from the table
cur.execute('''DELETE FROM users
                WHERE name = "Purab"
            ''')
conn.commit()
print("Data is Deleted!")

Data is Deleted!

In [55]:
# Query the data
cur.execute("SELECT * FROM users")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Vaibhav', 21)
(2, 'Prashiv', 22)
(3, 'Saksham', 20)

In [56]:
# Add New Column
cur.execute('''ALTER TABLE users
                ADD COLUMN email TEXT
            ''')
conn.commit()
print("Column is Added!")

Column is Added!

In [57]:
#  Now Insert data into new column
cur.execute('''UPDATE users
                SET email = "vaibhav@gmail.com"
                WHERE name = "Vaibhav"
            ''')

cur.execute('''UPDATE users
                SET email = "prashiv@gmail.com"
                WHERE name = "Prashiv"
            ''')

cur.execute('''UPDATE users
                SET email = "sakasham@gmail.com"
                WHERE name = "Saksham"
            ''')

conn.commit()
print("New Data is Added!")

New Data is Added!

In [58]:
# Verify the data is added
cur.execute("SELECT * FROM users")
rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Vaibhav', 21, 'vaibhav@gmail.com')
(2, 'Prashiv', 22, 'prashiv@gmail.com')
(3, 'Saksham', 20, 'sakasham@gmail.com')

In [59]:
# Close the connection
conn.close()
print("Connection is Closed!")

Connection is Closed!

In [63]:
# Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
    Insert INTO sales(date,product,sales,region)
                values(?,?,?,?)
    ''',sales_data)

connection.commit()

In [64]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [65]:
# Close the connection
connection.close()
print("Connection is Closed!")

Connection is Closed!